.social-icons a {
  margin-left:15px;
}
.social-icons a img{
  max-width: 16px;

   .container {
    width: 100%;
    background:pink;
    height: 100vh;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
    }

    .container .wrapper {
      width: 100%;
      height: 100%;
      max-width: 500px;
      border: 1px solid black;
      margin: 0 auto;
      padding: 50px;
      box-sizing: border-box;

     .container .wrapper .about-yoga {
       margin-top:50px
     }
     .container .wrapper .about-yoga ,span, .benefits span{
       color:white;
       font-size:30px;
     }

      img{
          max-width: 100px;
          border-radius: 100%;
          height: auto;
        }
